<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>-->
    
    <membership defaultProvider="BSI">
      <providers>
        <add name="BSI"
             type="MainWebApplication.BSIMembershipProvider"  />
      </providers>
    </membership>

    <roleManager enabled="true"
                 defaultProvider="BSI"
                 cacheRolesInCookie="true">
      <providers>
        <add name="BSI"
             type="MainWebApplication.BSIRoleProvider"  />
      </providers>
    </roleManager>

    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" name="BSIAuthCookie" timeout="30"/>
    </authentication>
    
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBSIService">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IBookingService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IBSIService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBookingService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBSIService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Admin">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:8833/Design_Time_Addresses/ServiceLayer/BookingService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBookingService"
        contract="TestProxy.IBookingService" />
      <endpoint address="http://localhost/Design_Time_Addresses/ServiceLayer/BookingService/"
        behaviorConfiguration="Admin" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookingService"
        contract="TestProxy.IBookingService" name="WSHttpBinding_IBookingService">
        <identity>
          <certificate encodedValue="MIIBtzCCAWGgAwIBAgIQIIK4ncsKf6RKFaTpP/jlHjANBgkqhkiG9w0BAQQFADAW&#xD;&#xA;MRQwEgYDVQQDEwtSb290IEFnZW5jeTAeFw0xNjA1MTcwMDE2MzZaFw0zOTEyMzEy&#xD;&#xA;MzU5NTlaMBIxEDAOBgNVBAMTB0JTSUNlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0A&#xD;&#xA;MIGJAoGBAMCDRwttJ8egdNWZ12JgspRyE2a+t1s6cCKIVewETEArRtla39m50AAd&#xD;&#xA;+hrOPl1HzoA7So2SOhSr32f8oorjOqvBQFuDw3vav4XyNNjPgKZAJ4F89kl0BSvw&#xD;&#xA;E64PBn8kkNvO/4rH3mkcu2jLhqAmbDpC7z1dAi17skLxvrxn/jBXAgMBAAGjSzBJ&#xD;&#xA;MEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290&#xD;&#xA;IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DANBgkqhkiG9w0BAQQFAANBAHxE68Nh&#xD;&#xA;L8oiZ6cZS8MmUtV9vNN+ivdVaI3gbd2UpxHxWGXk5jjDDeAN7dOrnroVzAvUMuR3&#xD;&#xA;xklU+rPLKzkdlIw=" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8833/Design_Time_Addresses/Service/BSIService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBSIService"
        contract="BSIProxy.IBSIService" name="NetTcpBinding_IBSIService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8033/Design_Time_Addresses/Service/BSIService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBSIService"
        contract="BSIProxy.IBSIService" name="WSHttpBinding_IBSIService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAACFSeBiZzsFBH02O6k09YBcaZ6wgAAAAAQAAALsBAAAwggG3MIIBYaADAgECAhBHdaaVpKPwpUHJlmiW9dD0MA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTE2MDUxNzA5NTc0M1oXDTM5MTIzMTIzNTk1OVowEjEQMA4GA1UEAxMHQlNJQ2VydDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAqWz3vHB781VAUkaeAlsaEBJXjEh2j0dVkulFlKl9h5exgk2lInyxn0TXw6JUE3QT8p7KMin1SflzhAa7LugGsMNcoP1wmVUZ4nNyRzo5YVKeQpxhClUcx8V9WKp0yvpGFOHmf14OLeZZUaCvXapwNFNc6SJ/nI4RDx2243Jxtf8CAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MA0GCSqGSIb3DQEBBAUAA0EAchOzHZ6vadccpsCRxYnsbAXHtA+QPOf+FY2It0SQ8yN5mX3ouc1oRKwQt2+RMBF40e8Fr9OOdqMcHR6M9s6X0w==" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:8032/Design_Time_Addresses/Service/BSIService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBSIService"
        contract="BSIProxy.IBSIService" name="BasicHttpBinding_IBSIService" >
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAACFSeBiZzsFBH02O6k09YBcaZ6wgAAAAAQAAALsBAAAwggG3MIIBYaADAgECAhBHdaaVpKPwpUHJlmiW9dD0MA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTE2MDUxNzA5NTc0M1oXDTM5MTIzMTIzNTk1OVowEjEQMA4GA1UEAxMHQlNJQ2VydDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAqWz3vHB781VAUkaeAlsaEBJXjEh2j0dVkulFlKl9h5exgk2lInyxn0TXw6JUE3QT8p7KMin1SflzhAa7LugGsMNcoP1wmVUZ4nNyRzo5YVKeQpxhClUcx8V9WKp0yvpGFOHmf14OLeZZUaCvXapwNFNc6SJ/nI4RDx2243Jxtf8CAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MA0GCSqGSIb3DQEBBAUAA0EAchOzHZ6vadccpsCRxYnsbAXHtA+QPOf+FY2It0SQ8yN5mX3ouc1oRKwQt2+RMBF40e8Fr9OOdqMcHR6M9s6X0w==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>